@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

*,
::after,
::before {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todos_header_container {
  display: flex;
  margin-bottom: 7px;
  height: 45px;
  align-items: center;
  text-align: baseline;
  background-color: rgb(129, 126, 126);
  border-radius: 5px;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
}

.todos_icon_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.todos_name_cont {
  width: 250px;
}

.todos_created_cont {
  width: 120px;
}

.todos_category_cont {
  width: 150px;
}

.todos_content_cont {
  width: 300px;
}

.todos_dates_cont {
  width: 200px;
}

.todos_butt_cont {
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
}

.todos_oper_button {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  background-size: 85%;
}

.list_item {
  height: auto;
  min-height: 50px;
  background-color: #d9dedf;
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.butt_edit {
  background-image: url('./images/edit.svg');
}

.butt_archive {
  background-image: url('./images/archive.svg');
}

.butt_delete {
  background-image: url('./images/delete.svg');
}

.is_archived {
  color: brown;
}
